<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/folder"></ion-back-button>
    </ion-buttons>
    <ion-title style="display:flex;justify-content:center;align-items:center;">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="\assets\icon\logo.png"></ion-img>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="userCadastro.nome" name="nome" required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="userCadastro.telefone" name="telefone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="userCadastro.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="userCadastro.senha" name="senha" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="danger" type="submit" (click)="cadastro()">Salvar</ion-button>

  </ion-card>

</ion-content>