<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 

  <form >
    <ion-item >
      <ion-input placeholder="NOME"  type="text"></ion-input>
    </ion-item>

    <ion-item >
      <ion-input placeholder="TELEFONE"  type="numeric" ></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-input placeholder="ENDEREÇO"  type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="BAIRRO" type="text"></ion-input>
    </ion-item>

    <ion-item >
      <ion-input placeholder="CIDADE" type="text"></ion-input>
    </ion-item>

    <ion-item >
      <ion-input placeholder="E-MAIL" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="SENHA" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="CONFIRMAR SENHA" type="password"></ion-input>
    </ion-item>

    <div class="margin-left">
      <ion-button type="submit"  color="danger">CANCELAR</ion-button>

      <ion-button type="submit" color="danger">SALVAR</ion-button>
    </div>
  
</form>

</ion-content>
