<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/icon/perfil.jpeg">
    </ion-avatar>
    <ion-label>
      <h3>Nome: teste</h3>
      <p>E-mail:teste@teste.com</p>
      <p>Endereço: rua teste, 69</p>
      <p>Bairro : jardim dos testes</p>
      <p>Contato: 912345678</p>
    </ion-label>
  </ion-item> 
</ion-content>
