<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <div style="display:flex;justify-content:center;align-items:center;">
      <ion-label>
        <h1>Barbearia Valtenis</h1>
      </ion-label>
    </div>
    <br>
    <div class="margin">
      <ion-item>
        <ion-label>
          <h3>Horário de Funcionamento:</h3>
          <h3>Segunda a Sabádo</h3>
          <h3>08:00 - 11:00 & 13:00 - 19:00</h3>
        </ion-label>
      </ion-item>
    </div>

    <br>

    <div style="display:flex;justify-content:center;align-items:center;">
      <ion-label>
        <h1>Endereço</h1>
      </ion-label>
    </div>
    <br>

    <div class="margin">
      <ion-item>
        <ion-label>
          <h3>Rua João Morelato, 621</h3>
          <h3>Sonho Noss V</h3>
          <h3>Barra Bonita - SP</h3>
          <h3>CEP: 17340-000</h3>
        </ion-label>

        <ion-thumbnail slot="start">
          <img src="/assets/icon/faixada.jpg">
        </ion-thumbnail>
      </ion-item>
    </div>

    <br>

    <div class="tamfont2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="service-iconWP">
              <img src="\assets\icon\wp512.png">
            </div>
            (14) 99630-2435
          </ion-col>

          <ion-col>
            <div class="service-iconFB">
              <img src="\assets\icon\fb512.png">
            </div>
            <div class="tamfontFB">
              Valtenis Barbearia
            </div>
          </ion-col>

          <ion-col>
            <div class="service-iconTF">
              <img src="\assets\icon\tf512.png">
            </div>
            (14) 3642-5082
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
      <div class="service-icon2">
        <img src="\assets\icon\logoMC.png">
      </div>

      <div class="service-icon2">
        <img src="\assets\icon\logoVS.png">
      </div>

      <div class="service-icon2">
        <img src="\assets\icon\logoDN.png">
      </div>

    </div>

    <ion-label class="tamfont" style="display:flex;justify-content:center;align-items:center;">
      Aceitamos todos os cartões
    </ion-label>

  </ion-toolbar>
</ion-footer>