<ion-header>
  <ion-toolbar>
    <ion-title>Agendados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="display:flex;justify-content:center;align-items:center;"> 
        Agendamento
      </ion-card-title>

      <ion-card-subtitle>
        Cliente: Teste Tesvaldo Dos testes
      </ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>

      <p>ATENDIMENTO: Corte + Barba</p>
      <p>DATA: 08 de Novembro de 2020</p>
      <p>HORA: 16:20</p>
      <p>OBSERVAÇÃO: ...</p>

    </ion-card-content>
  </ion-card>

  <div class="margin-left">
    <ion-button type="submit"  color="danger" routerLink="/adm-confirm-agendam">Confirmar</ion-button>

    <ion-button type="submit" color="danger">Cancelar</ion-button>
  </div>

</ion-content>
