.fonte{
    font-size: 17px;
}
.caixas{
    width: 79px;
    font-size: 15px;
    font-weight: 800;
}
.boton{
    width: 70px;
    font-size: 13px;

    margin-bottom: 15px;
}
.baixar{
    margin-top: 50px;
}