<ion-header>
  <ion-toolbar>
    <ion-title>Adm Agendados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="\assets\icon\logo.png"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title class="fonte" style="display:flex;justify-content:center;align-items:center;"> 
          Agendamentos a serem confirmados
        </ion-card-title>  
    </ion-card-header>
  
    <ion-tem></ion-tem>

    <div class="baixar">
    <ion-item>
      <div >
        <input class="caixas" type="name" id="name1" name="name1">
        <input class="caixas" type="time" id="hora1" name="hora1">
        <input class="caixas" type="date" id="data1" name="data1">
        <ion-button class="boton" type="submit" color="secondary">Vizualizar</ion-button>
      </div>
    </ion-item>

    <ion-item>
      
      <div >
        <input class="caixas" type="name" id="name2" name="name2">
        <input class="caixas" type="time" id="hora2" name="hora2">
        <input class="caixas" type="date" id="data2" name="data2">
        <ion-button class="boton" type="submit" color="secondary">Vizualizar</ion-button>
      </div>
    </ion-item>

    <ion-item>
      
      <div >
        <input class="caixas" type="name" id="name3" name="name3">
        <input class="caixas" type="time" id="hora3" name="hora3">
        <input class="caixas" type="date" id="data3" name="data3">
        <ion-button class="boton" type="submit" color="secondary">Vizualizar</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <div >
        <input class="caixas" type="name" id="name4" name="name4">
        <input class="caixas" type="time" id="hora4" name="hora4">
        <input class="caixas" type="date" id="data4" name="data4">
        <ion-button class="boton" type="submit" color="secondary">Vizualizar</ion-button>
      </div>
    </ion-item>
    </div>
    
  </ion-card>

  

</ion-content>
