<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card>
    <div>

      <div class="img-perf">
        <img  src="/assets/icon/perfil.jpeg">
      </div>

      <div >
        <ion-button   class="bEdit" color="danger" href="#">Procurar</ion-button>
        <ion-button  class="bEdit2" color="danger" href="#">Salvar Foto</ion-button>
      </div>
      
    </div>
   </ion-card>

   <div class="down">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="name"></ion-input>
    </ion-item>

   <ion-item>
     <ion-label position="floating">Email</ion-label>
     <ion-input type="email" ></ion-input>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input type="Name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input type="name" ></ion-input>
  </ion-item>
</div>


  <div class="baixar" style="display:flex;justify-content:center;align-items:center;">
    <ion-button class="ativar" color="danger" href="#">Cancelar</ion-button>
    <ion-button class="ativar" color="danger" href="#">Salvar</ion-button>
  </div>
   
</ion-content>