.img-perf{
    width: 32%;
    margin-left: 10%; 
    margin-top: 5%;
    float: left;
};

.bEdit{
    size: 30px;
    margin-right: 10%;
    margin-top: 18px;
    float: right;

    width: 150px;
    font-size: 15px;
    font-weight: 800;
};

.bEdit2{
    size: 30px;
    margin-right: 10%;
    margin-top: 20px;
    float: right;

    width: 150px;
    font-size: 15px;
    font-weight: 800;
};
.center{
    position:center;
}
.down{
    margin-top: 90px;
}
.ativar{
    width: 150px;
    font-size: 17px;
    font-weight: 800;
}
.baixar{
    margin-top: 150px;
}

